
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600&family=Merriweather:wght@300;400;700&display=swap');

:root {
  --accent: {{ .Site.Params.accentColor }};
}

body {
  font-family: 'Assistant', sans-serif;
  margin:0;
  color:#333;
  line-height:1.7;
  background-image: url("img/defaultbodybg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.custom-background-wrong {
    background-image: url("img/defaultbodybg.jpg");
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll
}


h1,h2,h3,h4,h5 { font-family:'Merriweather', serif; }

.container {
  max-width: {{ .Site.Params.containerWidth }};
  margin:0 auto;
  padding: 20px;
}

/* BUTTONS */
button, .btn {
  background: var(--accent);
  padding:10px 18px;
  color:white;
  border:none;
  border-radius:4px;
  text-decoration:none;
}

/* SIDEBAR */
.wrapper {
  display:flex;
  gap:30px;
}
.custom-background, .sidebar {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}
.sidebar {
    padding: 10px;
}
.summary {
    padding: 10px;
}
.content-area {
    flex:1;
    background-image: url("/img/defaultbodybg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;    
}

/* HEADER */
header {
  padding:20px 40px;
}
nav {
  border-top:1px solid #ddd;
  margin-top:10px;
}
nav ul { list-style:none; padding:0; margin:0; display:flex; gap:20px; }

/* MOBILE */
#mobile-menu {
  display:none;
}
@media(max-width:700px){
  nav ul { display:none; }
  #mobile-menu{ display:block; cursor:pointer; }
  #mobile-drawer{ display:none; background:#f9f9f9; padding:10px; }
  #mobile-drawer.open{ display:block; }
}
